<h1>{{username|uppercase}}</h1>
<h1>{{username|lowercase}}</h1>
<h1>{{username|titlecase}}</h1>

<h1>{{today}}</h1>
<h1>{{today|date:'shortDate'}}</h1>
<h1>{{  today | date:'fullDate' | uppercase}}</h1>
<h1>{{today|date:'short'}}</h1>
<h1>{{today|date:'full'}}</h1>
<h1>{{today|date:'longDate'}}</h1>

<h1>{{amount}}</h1>
<h1>{{amount| currency}}</h1>
<h1>{{amount| currency:'CAD'}}</h1>
<h1>{{amount| currency:'INR'}}</h1>
<!--0032.890-->
<h1>{{amount|currency:'INR':'symbol':'4.2-4'}}</h1>
<h1>{{amount| currency:'GBP'}}</h1>

<h1>{{marks| percent}}</h1>
<h1>{{marks| percent:'3.3-5'}}</h1>

<!--<h1>{{nubmer_sqrt|custompipe}}</h1>--->
<h1>{{price|custompipe:discount:2}}</h1>
